/* Import fonts from Google's API */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css2?family=Raleway');



body {
  font-family: "Raleway";
}

.distill-site-nav {
    color: #000;
    background-color: #fff;
    font-size: 18px;
}

.distill-site-nav a:hover {
    color: #56638c;
}

.distill-site-footer {
    background-color: #7A8B99;
    color: #fff;
    font-family: 'Roboto Mono';
    font-size: 10px;
}


d-title h1 {
    font-weight: 500;
    font-size: 40px;
}

th, td { 
    font-family: 'Roboto Mono';
  }
    