/* Import fonts from Google's API */
@import url('https://fonts.googleapis.com/css2?family=Raleway');
@import url('https://fonts.googleapis.com/css2?family=Lusitana');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono');


.distill-site-nav {
    color: #000;
    background-color: #fff;
    font-size: 18px;
}

.distill-site-nav a:hover {
    color: #56638c;
}


/*
.distill-site-nav {
    font-family: 'Raleway', sans-serif;
    color: #000;
    background-color: #fff;
    font-size: 16px;
    font-weight: 500;
}

.distill-site-header {
    font-family: 'Raleway', sans-serif;
    color: #000;
    background-color: #fff;
    font-size: 12px;
    font-weight: 400;
}

.distill-site-nav a:hover {
    color: #56638c;
}

.categories li > a:hover {
    color: #56638c;
    border-bottom: 1px #56638c;
}

p a:hover  {
    color: #56638c;
}


h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

h2, h3, h4, h5 {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}


html, body, p {
    font-family: 'Lusitana', serif;
    line-height: 2; 
}

.posts-list .description p {
    font-family: 'Roboto Mono', serif !important;
    color: gray !important;
}

.posts-list .description h2 {
    font-family: 'Raleway', sans-serif !important;
}
*/

th, td { 
    font-family: 'Roboto Mono';
  }
    